.partner-box {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .left-section .logo {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
  }
  
  .right-section {
    flex: 1;
    padding-left: 20px;
  }
  
  .description {
    margin: 0 0 10px 0;
  }
  
  .learn-more-btn {
    background-color: #462255;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learn-more-btn:hover {
    background-color: #AA4465;
  }
  